
p{
    color: rgb(77, 58, 117);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 200;
 }
 #maruf{
  color: darkcyan;
 }
 .neeshan{
    font-size: larger;
     color: black;
 }
 h1.anas{
   font-style: italic;

 }
.man{
  border: 5px solid rgb(59, 8, 108) ;
  border-radius: 30px;
  margin: 5%;
  padding: 20px;
  width : 30%;
  float: left;
} 
h1{ 
     color: rgba(5, 30, 78, 0.675);
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: 700;
   }
.container::after {
 content: "";
 display: block;
 clear: both;
}